@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.amine{
    margin-left: 3%;
    float: left;
    color: rgb(30, 148, 207);
    margin-top: 15%;
}
.amine h1{
    color: rgb(52, 211, 203);
    text-align: center;
}
.amine h2 {
    text-align: center
}
.amine p{
    color: teal;
    font-weight: bold;
}
.header{
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 30px;
}
.nav{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.nav,
.nav_items{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    
}
a {
    text-decoration: none;
    justify-content: space-between;
    margin: 15px;
}
.nav_item {
    column-gap: 25px;
    list-style: none;
}
.nav_link:hover{
    color: rgb(8, 117, 94);
}
#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color: rgb(0, 128, 117);
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: none;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.home::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
}
.home.show::before{
    opacity: 1;
    pointer-events: auto;
}
.nav_link,
.button{
    color: white;
}
.button{
    padding: 6px 24px;
    border: 3px solid white;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
}
.button:active{
    transform: scale(0.98);
}

.button:hover{
    color: rgb(101, 196, 175);
    background-color: white;
}

.from_container{
    position: absolute;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-out;
}

.home.show .from_container{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.from_container .active .signup_form{
    display: block;

}
.form_close{
    position: absolute;
    top: 10px;
    right: 20px;
    color: rgb(0, 0, 5);
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}
.from_container h2{
    font-size: 22px;
    color: black;
    text-align: center;
}
.input_box{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}
.input_box input{
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 1.5px solid rgb(0, 0, 0);
    outline: none;
    padding: 0 30px;
    color: rgb(1, 1, 22);
    transition: all 0.2s ease;
}
.input_box input:focus{
    border-color: blueviolet;

}
.input_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.input_box i.email,
.input_box i.password{
    left: 0;
    color: rgb(0, 0, 0);
}
.input_box i.pw_hide{
    right: 0;
    font-size: 18px;
    cursor: pointer;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password{
    color: blueviolet;
}
.option_field{
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkbox{
    display: flex;
    white-space: nowrap;
    font-size: 12px;
    column-gap: 8px;
    
}
.from_container a{
    color: blueviolet;
    font-size: 12px;
}
.from_container a:hover{
    text-decoration: underline;
}
.checkbox label{
    color: black;
    font-size: 12px;
    user-select: none;
    cursor: pointer;
}
.checkbox input{
    accent-color: rgb(102, 150, 196);
}
.from_container .button{
    background: rgb(74, 74, 206);
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
}
.login_signup{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}
.sgn{
    margin: 10%;
    padding: 5px ;
    font-size: x-large;
    text-align: center;
    margin-top: 25%;
    margin-left: 20%;
    border: 3px none white;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
    color: aliceblue;
}
.sgn:hover{
    color: rgb(0, 128, 117);
    background-color: white;
}
.img{
    height: 15rem;
    width: 15rem;
    margin-top: 20%;
    margin-left: 2%;
    margin-right: 10%;
    border-radius: 50%;
}
.img1{
    height: 50%;
    width: 60%;
    margin-top: 20%;
    border-radius: 30%;
    display: flex;
    
}
.container{
    padding: 10%;
    size: 40%;
    width: 50%;
    text-align: center;
}
legend{
    text-decoration: wavy;
    color: rgb(0, 0, 0);
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 10% ;
    text-align: left;
}
.btn{
    width: 100%;
    margin-top: 10%;
}
.cover{
    background-image: url(images/med2.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.container1 {
    display: grid;
    grid-template-columns: 14rem auto 14rem;
    gap: 1.8rem;
    width: 96%;
    margin: 0 auto;
}
.container1 div ul  li {
    list-style: none;
    /*text-align: center;*/
}
.container1 h2{
    text-align: center;
    text-decoration: wavy;
}

.container2 {
    display: grid;
    grid-template-columns: 40rem 40rem;
    gap: 1.8rem;
    width: 96%;
    margin: 0 auto;
}
.dashboard{
    height: 100vh;
    top: 2rem;
}
.dashboard a{
    transition: all .1s ease-in;
    color: rgb(28, 28, 122);
    align-items: first baseline;
    height: 3.2rem;
}
.dashboard a span{
    font-size: 1.8rem;
    transition: all .1s ease-in;
}
.dashboard li:last-child{
    position: absolute;
    bottom: 1rem;
    width: 20%;
}

.dash ul li {
    margin-top: 10%;
}
.profile-photo{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 90%;
}
.departement a i{
    width: 100%;
}

#front {
    color: white;
}

@media(max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

}
@media(max-width:768px){
    #menu-btn{
        display: initial;
    }
    .header .nav_item{
        position: absolute;
        top: 115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
        width: 30rem;
        background: #fff;
        border: 2rem solid rgb(10, 134, 114);
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }
    .header .nav_item a{
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
    }

}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
}