{% extends "dashdoc.html" %}
{% block content%}
<body>
    <section class="dash">
    <h1>Welcome, {{ user.email }}</h1>

    {% if user.is_doctor %}
        <h2>Doctor Dashboard</h2>
        <ul>
            {% for patient in patients %}  
                    <li>{{ patient.username }} - {% if patient.is_online %}  Active {% else %}  Offline {% endif %} <a href="{{ url_for('chat.start_chat', recipient_id=patient.id) }}">Chat</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    </section>
</body>
{% endblock %}